body { background: #e9d854; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 30px; display: flex; }
.block-auth-0 { color: #61b415; font-size: 19px; margin-bottom: 5px; }
.block-logger-1 { color: #41a13f; font-size: 12px; margin-bottom: 5px; }
.block-sms-2 { color: #7eece8; font-size: 16px; margin-bottom: 5px; }
.block-auth-3 { color: #68e819; font-size: 21px; margin-bottom: 5px; }
.block-order-4 { color: #cd17e1; font-size: 12px; margin-bottom: 5px; }
.block-cluster-5 { color: #85e67d; font-size: 20px; margin-bottom: 5px; }
.block-user-6 { color: #470a86; font-size: 19px; margin-bottom: 5px; }